header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: var(--primary-color);
}

header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 50px;
  height: auto;
}

.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

.navbar .nav-menu .nav-link {
  font-size: var(--font-size-m);
  padding: 10px 18px;
  border-radius: var(--border-radius-m);
  color: var(--white-color);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}